body {
	color: #696969;
	background-image: "images/sunset.jpg";
	background-size: cover;
	font-size:large;
	font-family:Helvetica;
	text-align:center;
	font-weight:bold;
}	

h1{
	text-transform:uppercase;
	text-decoration:underline;
	font-weight:bold;

}

#slogan {
	font-style:italic;
}
