* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #ffffff;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	padding: 20px;
	margin: 10px;
}
ul{
	color: #ffffff;
	list-style-type: none;
	padding: 20px;
	padding-bottom: 100px;
	margin: 10px;
}
h1{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 500%;
	padding: 10px;
	margin: 10px;
}
h2{
	color: #707070;
	font-weight: bold;
	font-size:200%;
	padding: 10px;
	margin: 10px;
}
h3{
	color: #ffffff;
	font-weight: bold;
	font-size:200%;
	padding: 10px;
	margin: 10px;
}
a {
	 color: #ffffff;
	 text-decoration: none;
}
img {
    width: 33.3%;
    padding: 1em;
    float: left;
}
#slogan {
	font-style: italic;
}
#homepage {
	background-image: url("../images/sunset2000.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.cta {
	font-size: 2em;
	background-color: rgba (30,96,93,.2);
	padding: .3em .5em;
	border: .2em solid;
	float:none;
}
.cta:hover {
	background-color: rgba(30,96,93,.8);
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
@media only screen and (max-width: 991px){
	img{ 
		width: 100%;
	}
	#homepage {
		background-image: url("../images/sunset1000.jpg");
	}
}
