body {
	color: #696969;
	background-image: url(../images/sunset.jpg);
	background-size: cover;
	font-size:large;
	font-family: Avenir, Arial, Helvetica, sans-serif;
	text-align:center;
	font-weight:bold;
}	

h1{
	text-transform:uppercase;
	text-decoration:underline;
	font-weight:bold;

body{
	margin: 0;
	padding: 0;
	height: 100%;
}
}

#slogan {
	font-style:italic;
}
